<section class="py-5 bg-light">
   <div class="container sign-container my-md-4">
      <div class="card border-0 shadow-sm rounded p-4 p-md-5">
          {{#unless success}}
            <h2 class="text-center mb-4">Reset your password</h2>
            <form action="/auth/reset" method="POST">
                {{#if errors.message}} <div class="alert alert-danger py-2" role="alert">{{errors.message}}</div> {{/if}}
                <div class="form-floating mb-3">
                    <input type="hidden" name="reset" value="{{reset}}">
                    <input type="password" class="form-control shadow-sm" id="password" name="password" placeholder="Password" required>
                    <label for="nemail">Reset Password *</label>
                    <div id="passwordHelp" class="form-text small text-center mt-2">Password must be at least 8 chars and must contain at least one number, one lowercase and one uppercase letter.</div>
                </div>
                <button type="submit" class="btn btn-primary w-100 btn-lg">Reset Password</button>
            </form>
          {{else}}
            <div class="text-center">
                <h1 class="display-1">🎉</h1>
                <h2 class="h4 mb-3">We've succesfully reset your password.</h2>
                <a href="/auth/signin" class="btn btn-primary">Now Go And Sign In</a>
            </div>
          {{/unless}}
         
      </div>
   </div>
</section>

