<section class="position-absolute w-100 h-100 bg-light d-flex align-items-center justify-content-center">
   <div class="container" style="max-width:500px;">
      <div class="text-center">
        <img class="mb-3" width="100" height=""src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow" />
        <h2>Sign in to your account</h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Or
          <a href="/auth/signup" class="font-medium text-indigo-600 hover:text-indigo-500"> start your 14-day free trial </a>
        </p>
      </div>
      <div class="card rounded p-4 p-md-5">
         <form action="/auth/signin" method="POST">
            <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Email address</label>
               <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
               <label for="exampleInputPassword1" class="form-label" name="password">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign In</button>
         </form>
      </div>
   </div>
</section>