<section class="py-5 bg-light">
   <div class="container sign-container my-md-4">
      <div class="text-center mb-4">
        <h2>Sign in to your account</h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Or
          <a href="/auth/signup" class="font-medium text-indigo-600 hover:text-indigo-500"> Get Started Now For Free! </a>
        </p>
      </div>
      <div class="card border-0 shadow-sm rounded p-4 p-md-5">
         <form action="/auth/signin" method="POST">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <div class="mb-3 form-check">
               <input type="checkbox" name="signedIn" class="form-check-input" id="exampleCheck1">
               <label class="form-check-label" for="exampleCheck1">Keep me signed in.</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign In</button>
         </form>
      </div>
      <p class="py-3 text-muted small text-center">Copyright&copy; Coinbutter 2022. Made with love in Lisbon.</p>
   </div>
</section>