@import url("https://use.typekit.net/xnh1cse.css");

$white:    #fff !default;
$gray-100: #faf9f8 !default;
$gray-200: #efece9 !default;
$gray-300: #e6e3de !default;
$gray-400: #dad5ce !default;
$gray-500: #bdb7ad !default;
$gray-600: #7d766c !default;
$gray-700: #575049 !default;
$gray-800: #403834 !default;
$gray-900: #24201d !default;
$black:    #1d1610 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #3e275c !default;
$pink:    #d63384 !default;
$red:     #e34849 !default;
$orange:  #FF9C41 !default;
$yellow:  #ff9e2a !default;
$green:   #169b3e !default;
$teal:    #34b991 !default;
$cyan:    #19b8d8 !default;

$primary:       $orange !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "darker":      $gray-300,
  "dark":       $dark
) !default;

$min-contrast-ratio:   1 !default;

$font-family-sans-serif:      ballinger, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family:        ballinger, sans-serif !default;
$headings-font-weight: 600 !default;
$display-font-weight: 600 !default;

$border-radius:               .4rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .6rem !default;

$component-active-bg:         $dark !default;

@import "../node_modules/bootstrap/scss/bootstrap";


$form-floating-height:            add(3rem, $input-height-border) !default;
$form-floating-line-height:       1 !default;
$form-floating-padding-x:         $input-padding-x !default;
$form-floating-padding-y:         .8rem !default;
$form-floating-input-padding-t:   1rem !default;
$form-floating-input-padding-b:   .6rem !default;
$form-floating-label-opacity:     .65 !default;
$form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.15rem) !default;
$form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out !default;

body{
    letter-spacing: -0.03rem;
}
.sign-container{
    max-width:560px;
}
.list-group-item{
    h3,p{
        line-height:1 !important;
    }
}
.select2-container--default .select2-results__option--selected{
    background-color: $light;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: $gray-200;
    color: $dark;
}
.coin-icon{
    width:28px;
}
.portfolio-card{
    width: 256px;
}

.select2-container .select2-selection--single{
    height:58px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 12px;
    padding-right: 20px;
    padding-top: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height:58px;
    right:8px;
}
.dashboard-big-icon{
    max-width: 150px;
    margin-bottom: -20px;
}

.portfolio-swiper{
    width:100%;
    .swiper-wrapper{
        display: flex;
        flex-wrap: nowrap;
    }
}
.navbar-brand {
    line-height: 0;
    .logo{
        height: 20px;
    }
}

.chart{
    .line{
        fill: none;
        stroke: $primary;
        stroke-width: 3;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 5s linear forwards;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}