<nav class="navbar navbar-light bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand mb-0" href="/"><img src="/images/assets/coinbutter.png" class="logo"/></a>
        <button class="burger-menu btn btn-sm btn-darker d-inline-block d-lg-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar navbar-dynamic flex-fill" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0">
                {{#if connectedUser}}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/#why">Why Coinbutter?</a>
                </li>
                
                {{/if}}
            </ul>
            <ul class="navbar-nav flex-row  ms-auto" aria-labelledby="navbar">
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help?</a>
                </li>
                {{#if connectedUser}}
                <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle d-inline-flex align-items-center" href="/user" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{connectedUser.image}}" alt="user profile picture" class="m-0 me-1 rounded" width="25"/>
                </a>
                <ul class="dropdown-menu relative position-absolute dropdown-menu-end border-0 shadow-sm" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/{{connectedUser.id}}/edit">Profile Settings</a></li>
                    <li>
                    <form action="/auth/signout" method="post">
                        <button class="dropdown-item text-danger">Sign Out</button>
                    </form>
                    </li>
                </ul>
                </li>
                {{else}}
                <li class="nav-item">
                <a class="nav-link" href="/auth/signin">Sign In</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link text-white btn btn-primary btn-sm" href="/auth/signup">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{#if connectedUser}}
{{#unless connectedUser.active}}<div class="container my-2">
    <div class="alert alert-warning text-center py-2" role="alert">
    <strong>Please confirm your email address</strong> so your account doesn't get deactivated. <a href="/activate" style="color: #996018;">Confirm Email Address</a>
    </div>
{{/unless}}
{{/if}}