<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand h5 mt-1 mb-0" href="/">Coinbutter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/assets">Assets</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto" aria-labelledby="navbar">
            {{#if connectedUser}}
                <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle d-inline-flex align-items-center" href="/user" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{connectedUser.image}}" alt="user profile picture" class="m-0 me-1 rounded" width="25"/>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/user">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                    <form action="/auth/signout" method="post">
                        <button class="dropdown-item text-danger">Sign Out</button>
                    </form>
                    </li>
                </ul>
                </li>
                {{else}}
                <li class="nav-item">
                <a class="nav-link" href="/auth/signin">Sign In</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link text-white btn btn-primary btn-sm" href="/auth/signup">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>