<section class="py-4 py-md-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5  text-center">
                <h1 class="display-2">Your one stop Defi Portfolio.</h1>
                <p class="lead">Track and manage your Defi Portfolio with ease.</p>
                <form action="/auth/signup" method="GET" class="mt-4 d-flex justify-content-center">
                    <div class="form-floating me-2 col-8 col-lg-7 shadow-sm">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        <label for="name">Email</label>
                    </div>
                    <button class="btn btn-primary">Get Started</button>
                </form>
                <p class="small text-muted mt-3 col-md-9 mx-auto">Coinbutter is not a trading platform and is not responsible for gains or losses of your portfolios.</p>
            </div>
            <div class="col-12 col-lg-7">
                <img src="../images/assets/intro-page-website.png" class="w-100"/>
            </div>
        </div>
        
    </div>
</section>

<section class="py-4 py-md-5 bg-white">
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-12 col-lg-5 order-md-last">
                <h2 class="h1">Have a quick glance over all of your portfolio.</h1>
                <p class="lead">Wether it's your personal portfolio, your grandmas, your dogs. Create as many portfolio's as you want and see how much each of them are making for you.</p>
            </div>
            <div class="col-12 col-lg-7">
            </div>
        </div>

        <div class="row align-items-center  mb-4">
            <div class="col-12 col-lg-5">
                <h2 class="h1">Easily manage all of your assets with a few click.</h1>
                <p class="lead">BTC, ETH, which every asset you own can be managed on coinbutter. With a simple click and you're on your way to a decentralized life.</p>
            </div>
            <div class="col-12 col-lg-7">
            </div>
        </div>
        
    </div>
</section>

<section class="py-4 py-md-5 bg-dark text-white">
    <div class="container">
        <div class="col-12 col-lg-8 order-md-last">
            <h2 class="display-4">What are you waiting for?</h1>
            <p class="lead">Don't overthink it just do! It's fast, it's free and you'll love it.</p>
            <a href="/auth/signup" class="btn btn-primary btn-lg text-dark">Get Started Now</a>
        </div>
        <div class="col-12 col-lg-4">
            
        </div>
    </div>
</section>