<section class="py-4 py-md-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5  text-center">
                <h1 class="display-1">404 Error</h1>
                <p class="lead">This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened</p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
            <div class="col-12 col-lg-7">
                <img src="../images/assets/intro-page-website.png" class="w-100"/>
            </div>
        </div>
        
    </div>
</section>