
<div class="text-center mb-4">
  <h2>New transaction</h2>
  <p class="mt-2 text-center text-sm text-gray-600">
  {{#if error.message}} <div class="alert alert-danger py-2" role="alert">{{error.message}}</div> {{/if}}
  <form action="/transactions/new" method="POST">
    <div class="form-group">
      <label for="portfolioName">Name</label>
      <input type="text" class="form-control" id="portfolio-name" name="name" placeholder="My Portfolio">
    </div>
    <div class="form-group">
      <label for="currencySelect">Currency</label>
      <select class="form-control" id="currency" name="currency">
        <option value="USD">USD</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" href="/">Submit</button>
  </form>
</div>