 <div class="index-container">
    {{#each assets}}
        <div class="assets">
            <li>
                {{> assetspartial this }}
            </li>
        </div>
    {{/each}}
</div>

<div class="index-container">
    <h1>Assets</h1>
</div>
